.review-empty {
  @include text-style(16, $secondary);
  padding: 84px 36px;
  text-align: center;
  background-color: $white;

  strong {
    color: $blue;
  }
}

.review-card {
  padding: 20px 0;
  background-color: $white;
  border-bottom: 1px solid $border;
  &-header {
    @include flexbox(start);
    margin-bottom: 20px;

    .avatar-24,
    .username {
      &:active {
        opacity: 0.4;
      }
    }
    .avatar-24 {
      margin-right: 8px;
    }

    .username {
      @include text-style(13, $primary-color);

      strong {
        font-weight: 400;
      }
    }

    .detail {
      @include flexbox(start);
      @include text-style(12, $secondary);

      .star-rating-13 {
        margin-right: 4px;
      }

      time::after {
        content: '·';
      }
    }
  }

  &-body {
    @include text-style(13, $primary-color);
    margin-bottom: 20px;
  }

  &-footer {
    @include inline-flexbox(start);

    button {
      width: 120px;
    }

    .ic-check {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 2px;
    }

    p {
      @include text-style(12, $primary-color);
      margin-left: 8px;

      strong {
        font-weight: 400;

        span {
          font-weight: 700;
          color: $dark;
        }
      }
    }
  }

  @include responsive(T) {
    padding: 40px 0 40px 32px;

    &-header {
      margin-left: -32px;

      .username {
        @include text-style(14);
      }
    }

    &-body {
      @include text-style(14);
    }
  }

  @include responsive(D) {
    &-header {
      .avatar-24,
      .username {
        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}
