/* scss-lint:disable all */
@font-face {
  font-family: unquote('tomorrow');
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/tomorrow.eot?48xc6k');
  src:
    url('./assets/fonts/tomorrow.eot?48xc6k#iefix') format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?48xc6k') format('truetype'),
    url('./assets/fonts/tomorrow.woff?48xc6k') format('woff'),
    url('./assets/fonts/tomorrow.svg?48xc6k#tomorrow') format('svg');
  font-display: block;
}
